.auth-container {
  height: 100%;
  background: #f6fafd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
  overflow-y: auto;
}

@media screen and (max-width: 650px) {
  .auth-container {
    padding-inline: 1rem;
    /* padding-block: 4rem; */
  }
}
