<app-alert [alertType]="alertType" [message]="message"></app-alert>

<form class="login-container" *ngIf="active === 'loginActive'">
  <div class="login-text-content">
    <mat-card-title class="title">Sign In</mat-card-title>
    <mat-card-subtitle class="subtitle"
      >Welcome back! Please enter your details</mat-card-subtitle
    >
  </div>

  <div class="form-container">
    <app-input
      label="Email"
      type="email"
      placeholder="Email"
      [control]="emailControl"
      [required]="true"
    ></app-input>

    <app-input
      label="Password"
      type="password"
      placeholder="Password"
      [control]="passwordControl"
      [required]="true"
    ></app-input>

    <div class="remember-section">
      <div class="remember-text">
        <mat-pseudo-checkbox></mat-pseudo-checkbox><span> Remember me</span>
      </div>
      <a href="/forget-password">Forgot Password?</a>
    </div>
  </div>

  <button
    (click)="onLogin($event)"
    class="submit-btn"
    [disabled]="isLoading"
    mat-flat-button
  >
    <span *ngIf="!isLoading">Sign In</span>
    <mat-spinner
      *ngIf="isLoading"
      diameter="20"
      class="mat-spinner-color"
    ></mat-spinner>
  </button>

  <div class="login-apps-container">
    <div class="separator">
      <div class="lines"></div>
      <span>or</span>
      <div class="lines"></div>
    </div>
    <div class="btn-container">
      <button class="google-btn" disabled>
        <img src="assets/google48.png" alt="google icon" width="20" height="20" priority>Sign in with Google
      </button>
      <button class="apple-btn" disabled>
        <mat-icon fontIcon="facebook"></mat-icon>Sign in with Facebook
      </button>
    </div>

    <p class="create-account-text">
      &copy; <span>Resource</span> |
      <a
        href="https://github.com/mohzys23/wcr-test-.git"
        target="_blank"
        rel="noopener noreferrer"
      >
        GitHub Repository
      </a>
    </p>
  </div>
</form>
