.input-wraper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%; /* Ensures the wrapper takes the full width of the parent */
}

.input-label {
  color: #A4A4A4;
  font-size: 13px;
  font-weight: 600;
}

.input {
  padding: 0.85rem;
  border: 1px solid #d6d5d5;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  max-width: 100%; /* Makes the input field take the full width of the wrapper */
}

.input::placeholder {
  font-size: 14px;
  color: #4d4d4d;
}

/* Optional: Media query for mobile responsiveness */
@media (max-width: 768px) {
  .input-wraper {
    width: 100%; /* Ensure it takes full width on smaller screens */
  }

  .input {
    padding: 0.75rem; /* Adjust padding for mobile */
  }
}
